@mixin between-screen($min, $max) {
  @media screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}

footer {
  .container {
    background-color: #fbfbfb;
    padding: 33px 275px 27px 25px;
    margin-bottom: 7px;
    border-bottom: 1px solid #46a35833;
    align-items: start;
    @include between-screen(414px, 430px) {
      padding: 40px 47px;
      flex-flow: row wrap;
      gap: 40px 32px;
      margin: 0;
    }
  }
  .my-account,
  .help-and-guide,
  .categories-list {
    display: flex;
    flex-flow: column wrap;
    gap: 8px;
    ul {
      display: flex;
      flex-flow: column wrap;
      gap: 5px;
    }
  }
  .my-account ul li {
    min-width: 81px;
  }
  .help-and-guide ul li {
    min-width: 137px;
  }
  .categories-list ul li {
    min-width: 93px;
  }
  h4,
  p {
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
  }
  ul > li > a {
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
    &:hover {
      font-weight: 700;
      color: #46a358;
    }
  }
  .social-media {
    h4 {
      margin-bottom: 24px;
    }
    ul {
      margin-bottom: 33px;
      display: inline-flex;
      gap: 10px;
      li {
        border: 1px solid #46a35833;
        border-radius: 4px;
        &:hover {
          scale: 1.2;
          background-color: #fff;
        }
        > a {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          background: transparent;
          min-width: 33px;
          min-height: 33px;
        }
      }
    }
    p {
      margin-bottom: 13px;
    }
  }
  .copyright {
    display: flex;
    justify-content: center;
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 214%;
      color: #3d3d3d;
      margin-bottom: 22px;
      @include between-screen(414px, 430px) {
        margin-bottom: 0;
        padding: 16px 0;
      }
    }
  }
}