@mixin between-screen($min, $max) {
  @media screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}

.information {
  margin-bottom: 138px;
  @include between-screen(414px, 429px) {
    margin-bottom: 40px;
    background-color: #fbfbfb;
  }
  .info-cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-flow: row wrap;
    @include between-screen(414px, 429px) {
      justify-content: center;
      align-items: center;
      gap: 40px;
    }
    article {
      display: flex;
      justify-content: space-between;
      background-color: #fbfbfb;
      max-width: 586px;
      @include between-screen(414px, 429px) {
        background-color: transparent;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      > img {
        width: 292px;
        height: 292px;
        position: relative;
        object-fit: contain;
        top: -36px;
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: end;
      padding-right: 30px;
      gap: 20px;
      @include between-screen(414px, 429px) {
        justify-content: center;
        align-items: center;
        padding: 0;
      }
      h3 {
        max-width: 150px;
        font-weight: 900;
        font-size: 18px;
        line-height: 24px;
        text-align: right;
        text-transform: uppercase;
        color: #3d3d3d;
      }
      p {
        max-width: 292px;
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        text-align: right;
        color: #727272;
        @include between-screen(414px, 429px) {
          max-width: 280px;
        }
      }
      a {
        background: #46a358;
        border-radius: 6px;
        padding: 12px 27px;
        display: flex;
        align-items: end;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        gap: 5px;
        color: #fff;
        &:hover {
          border-radius: 6px;
          background-color: black;
          color: #fff;
        }
        @include between-screen(414px, 429px) {
          margin: 0 0 40px;
        }
        svg {
          order: 1;
        }
      }
    }
  }
}
