.products {
  margin-bottom: 94px;
}
.products .container {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}
@media screen and (min-width: 414px) and (max-width: 430px) {
  .products .container {
    flex-direction: column;
    align-items: center;
    order: 2;
  }
}

.categories__container {
  display: flex;
  max-width: 318px;
  flex-direction: column;
  background-color: #fbfbfb;
  justify-content: space-between;
}
@media screen and (min-width: 414px) and (max-width: 430px) {
  .categories__container {
    order: 2;
  }
}
.categories__container .categories {
  padding: 14px 24px 19px 18px;
}
.categories__container ul {
  padding: 0 0 0 12px;
}
.categories__container a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  min-width: 100px;
}
.categories__container li > a:hover {
  font-weight: 700;
  font-size: 15px;
  line-height: 267%;
  transition: color 0.1s;
  color: #46a358;
}
.categories__container .price__range {
  padding: 14px 24px 19px 18px;
}
.categories__container .price__range > a {
  max-width: 100px;
  min-height: 35px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  justify-content: center;
  margin: 0 0 46px 12px;
  background-color: #46a358;
}
.categories__container .price__range > a:hover {
  background-color: black;
  color: white;
}
.categories__container .price__range h3 {
  margin-bottom: 10px;
}
.categories__container h3 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1rem;
  padding-bottom: 7px;
  color: #3d3d3d;
}
.categories__container .slider__range + p {
  padding: 16px 0 16px 12px;
}
.categories__container .slider__range + p input {
  overflow: visible;
  max-width: 95px;
  outline: none;
  border: none;
  background-color: transparent;
  color: #46a358;
  font-weight: 700;
  font-size: 15px;
  line-height: 107%;
}
.categories__container .slider__range + p label {
  font-size: 15px;
  line-height: 107%;
  color: #3d3d3d;
}
.categories__container .slider__range .ui-widget-header {
  background-color: #46a358;
}
.categories__container .ui-slider-horizontal {
  height: 6px;
}
.categories__container .ui-slider-horizontal span {
  background-color: #46a358;
  border: none;
  border-radius: 100%;
  top: -0.5em;
}
.categories__container .ui-widget-content {
  background-color: rgba(70, 163, 88, 0.2);
  max-width: 210px;
  margin: 0 0 0 12px;
}

.items__container {
  display: flex;
  max-width: 840px;
  flex-wrap: wrap;
  gap: 31px;
}
@media screen and (min-width: 414px) and (max-width: 430px) {
  .items__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 0 40px;
    order: 1;
  }
}

.filter__container {
  display: flex;
  max-width: 840px;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}
@media screen and (min-width: 414px) and (max-width: 430px) {
  .filter__container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.filter__container ul {
  display: flex;
  gap: 40px;
}
.filter__container ul li {
  display: flex;
  gap: 40px;
  position: relative;
}
.filter__container ul li:nth-of-type(1) {
  min-width: 65px;
}
.filter__container ul li:nth-of-type(2) {
  min-width: 89px;
}
.filter__container ul li a {
  font-weight: 400;
  font-size: 15px;
  line-height: 107%;
  color: #3d3d3d;
}
.filter__container ul li::before {
  content: "";
  display: block;
  background-color: #46a358;
  height: 2px;
  position: absolute;
  bottom: -10px;
  width: 0;
  transition: 0.4s;
}
.filter__container ul li:hover::before {
  width: 100%;
}
.filter__container label {
  font-weight: 400;
  font-size: 15px;
  line-height: 1rem;
  color: #3d3d3d;
}
.filter__container label select {
  font-weight: 400;
  font-size: 15px;
  line-height: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
}
.filter__container label select option {
  font-weight: 400;
  font-size: 15px;
  line-height: 1rem;
  text-align: center;
  color: #3d3d3d;
}

.cards__container {
  display: flex;
  max-width: 840px;
  gap: 70px 33px;
  justify-content: space-between;
  flex-flow: row wrap;
}
@media screen and (min-width: 414px) and (max-width: 430px) {
  .cards__container {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
}
.cards__container img {
  width: 258px;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #fbfbfb;
  margin-bottom: 12px;
}
@media screen and (min-width: 414px) and (max-width: 430px) {
  .cards__container img {
    max-width: 75%;
    height: auto;
  }
}
.cards__container p:first-of-type {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  color: #3d3d3d;
  margin-bottom: 6px;
}
.cards__container p:last-of-type {
  font-weight: 700;
  font-size: 18px;
  line-height: 1rem;
  color: #46a358;
  display: flex;
  gap: 16px;
}
.cards__container p + span {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  padding: 7px 9px;
  background-color: #46a358;
  color: #fff;
  position: absolute;
  top: 14px;
}
.cards__container p > span {
  font-weight: 400;
  font-size: 18px;
  line-height: 89%;
  text-decoration: line-through;
  color: #a5a5a5;
}
.cards__container article {
  border-top: 1px solid transparent;
  position: relative;
}
@media screen and (min-width: 414px) and (max-width: 430px) {
  .cards__container article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.cards__container article:hover .action .icons {
  opacity: 1;
}
@media screen and (min-width: 414px) and (max-width: 430px) {
  .cards__container article:active .action .icons {
    opacity: 1;
  }
}
.cards__container article:hover {
  border-top: 1px solid #46a358;
}
.cards__container .action {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 60px;
  width: 100%;
  gap: 10px;
}
.cards__container .action .icons {
  opacity: 0;
  padding: 7px 6px;
  border-radius: 5px;
  background-color: #fff;
  transition: all 0.5s ease;
  box-sizing: content-box;
}
.cards__container .action .cart-icon {
  stroke: #e5e5e5;
  box-sizing: content-box;
}
.cards__container .action .like-icon {
  stroke: #3d3d3d;
  box-sizing: content-box;
}
.cards__container .action .search-icon {
  stroke: #e5e5e5;
  box-sizing: content-box;
}
.cards__container .icons.cart-icon:hover {
  transition: 0.5s;
  scale: 1.3;
  stroke: #46a358;
  cursor: pointer;
}
.cards__container .icons.like-icon:hover {
  stroke: #ff0000;
  scale: 1.3;
  transition: 0.5s;
  cursor: pointer;
}
.cards__container .icons.search-icon:hover {
  stroke: #46a358;
  scale: 1.3;
  transition: 0.5s;
  cursor: pointer;
}

.pagination__container {
  width: 100%;
  display: flex;
  justify-content: end;
  padding-top: 90px;
}
@media screen and (min-width: 414px) and (max-width: 430px) {
  .pagination__container {
    flex-direction: column;
    align-items: center;
    order: 3;
  }
}
.pagination__container .pagination {
  display: flex;
  gap: 10px;
}
.pagination__container .pagination li {
  border-radius: 4px;
  border: 1px solid #e5e5e5;
}
.pagination__container .pagination li:hover {
  background-color: #46a358;
  cursor: pointer;
  stroke: #fff;
  color: #fff;
  font-weight: 700;
}
.pagination__container .pagination li:hover a {
  color: #fff;
  font-weight: 700;
}
.pagination__container .pagination li > a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  font-weight: 300;
  font-size: 18px;
  line-height: 89%;
  color: #3d3d3d;
  min-width: 36px;
  min-height: 36px;
}
.pagination__container .pagination li > a svg {
  stroke: #fff;
}/*# sourceMappingURL=products.css.map */