@font-face {
    font-family: 'cera_problack';
    src: url('fontspring-demo-cerapro-black-webfont.eot');
    src: url('fontspring-demo-cerapro-black-webfont.eot?#iefix') format('embedded-opentype'),
        url('fontspring-demo-cerapro-black-webfont.woff2') format('woff2'),
        url('fontspring-demo-cerapro-black-webfont.woff') format('woff'),
        url('fontspring-demo-cerapro-black-webfont.svg#cera_problack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fontspring_demo_-_cera_proBd';
    src: url('fontspring-demo-cerapro-bold-webfont.eot');
    src: url('fontspring-demo-cerapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fontspring-demo-cerapro-bold-webfont.woff2') format('woff2'),
        url('fontspring-demo-cerapro-bold-webfont.woff') format('woff'),
        url('fontspring-demo-cerapro-bold-webfont.svg#fontspring_demo_-_cera_proBd') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cera_prolight';
    src: url('fontspring-demo-cerapro-light-webfont.eot');
    src: url('fontspring-demo-cerapro-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('fontspring-demo-cerapro-light-webfont.woff2') format('woff2'),
        url('fontspring-demo-cerapro-light-webfont.woff') format('woff'),
        url('fontspring-demo-cerapro-light-webfont.svg#cera_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cera_promedium';
    src: url('fontspring-demo-cerapro-medium-webfont.eot');
    src: url('fontspring-demo-cerapro-medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('fontspring-demo-cerapro-medium-webfont.woff2') format('woff2'),
        url('fontspring-demo-cerapro-medium-webfont.woff') format('woff'),
        url('fontspring-demo-cerapro-medium-webfont.svg#cera_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fontspring_demo_-_cera_proRg';
    src: url('fontspring-demo-cerapro-regular-webfont.eot');
    src: url('fontspring-demo-cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fontspring-demo-cerapro-regular-webfont.woff2') format('woff2'),
        url('fontspring-demo-cerapro-regular-webfont.woff') format('woff'),
        url('fontspring-demo-cerapro-regular-webfont.svg#fontspring_demo_-_cera_proRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    padding: 0;
    background: #FFF;
    font-family: 'Cera Round Pro DEMO', sans-serif;
    box-sizing: border-box;
}


.container__form {
    max-width: 500px;
    margin: auto;
}

.criss__cross-link {
    display: inline-block;
    margin: 13px 0 21px 487px;
}

.form__box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title__box {
    margin: 0 0 40px;
    text-align: center;
}

.title__box-login {
    display: inline;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
}

.line {
    display: inline;
    margin: 0 10px 0 12px;
    height: 16px;
}

.title__box-register {
    display: inline;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    color: #46A358;
}

.form__title {
    margin: 0 0 14px -70px;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #3D3D3D;
}

.input {
    display: block;
    width: 300px;
    height: auto;
    margin: 0 0 16px;
    padding: 12px 0 12px 14px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #EAEAEA;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.button {
    width: 315px;
    margin: 0 0 36px;
    border: none;
    padding: 16px 0 13px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #FFF;
    background-color: #46A358;
    cursor: pointer;
}

.register__with-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line-with-text {
    width: 315px;
    text-align: center;
    margin: 0 0 27px;
    font-weight: 400;
    font-size: 13px;
    border-bottom: 1px solid #ccc;
    line-height: 0px;
}

.line-with-text p {
    display: inline;
    background: #fff;
    padding: 0 10px;
}

.logo {
    margin: 0 9px 0 0;
}

.link {
    width: 315px;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1rem;
    color: #727272;
    margin-bottom: 10px;
}

.link:last-of-type {
    margin-bottom: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

header .container {
    padding-top: 30px;
    margin-bottom: 12px;
    padding-bottom: 18px;
    border-bottom: 1px solid #F5F5F580;

}

header nav ul {
    display: flex;
    align-items: center;
    gap: 50px
}

ul>li>a {
    color: #3D3D3D;
}

header nav ul a {
    display: flex;
    align-items: center;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    font-size: 1rem;
}

header nav ul a:focus {
    font-weight: 700;
    border-bottom: 2px solid #46a358;
    transition: color 0.4s;
}

header .login {
    background: #46a358;
    border-radius: 6px;
    padding: 7px 17px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1rem;
    color: #fff;
    transition: 0.4s;
}


header .login svg {
    margin-right: 4px;
}


header .login svg path {
    transition: 0.4s;
}

header .login:hover {
    border-radius: 6px;
    background-color: black;
    color: white;
}

header .login:hover svg {
    stroke: #46a358;
}

/* header{
    position: fixed;
    width: 100%;
    background-color: #fbfbfb;
    z-index: 3;
} */

.banner .container {
    padding-left: 40px;
    background-color: #F5F5F580;
}

.banner h3 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1rem;
    margin-bottom: 7px;
    padding-top: 68px;
}

h1 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 70px;
    line-height: 100%;
    margin-bottom: 5px;
    max-width: 700px;
}

h1 span {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 70px;
    line-height: 100%;
    color: #46A358;
}

.description {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 44px;
    max-width: 530px;
}

.shop-now {
    display: inline-block;
    background: #46A358;
    text-transform: uppercase;
    padding: 11px 27px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 20px;
    color: #FFF;
    border-radius: 6px;
    margin-bottom: 85px;
}

.banner .shop-now:hover {
    border-radius: 6px;
    background-color: black;
    color: white;
}

.banner {
    margin-bottom: 48px;
}

.products {
    margin-bottom: 94px;
}

.products .container {
    display: flex;
    align-items: stretch;
}

.categories__container {
    display: flex;
    max-width: 318px;
    flex-direction: column;
    background-color: #FBFBFB;
    justify-content: space-between;
}

.categories {
    flex-direction: column;
    align-self: start;
    padding: 14px 0 0 18px;
}

.categories h3 {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
    padding-bottom: 7px;
    color: #3D3D3D;
}

.categories__list {
    flex-direction: column;
    padding-left: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
}

.products .categories__list a:hover {
    transition: color 0.4s;
    font-weight: 700;
    font-size: 15px;
    line-height: 267%;
    color: #46a358;
}


.sale {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:
        linear-gradient(to bottom, #46A3581A, #46A35808),
        url('../img/circle-large.svg'),
        url('../img/circle-medium.svg'),
        url('../img/circle-small.svg');
    background-size:
        cover,
        15px,
        22px,
        45px;
    background-position:
        center,
        top 100px left 30px,
        bottom 150px left 20px,
        bottom 60px right 20px;
    background-repeat: no-repeat;
}

.sale p:first-of-type {
    font-weight: 400;
    font-size: 65px;
    line-height: 65px;
    font-family: 'Hanging Letters', sans-serif;
    color: #46A358;
    padding-top: 18px;
    margin-bottom: 11px;
}

.sale p:last-of-type {
    font-weight: 700;
    font-size: 23px;
    line-height: 1rem;
    color: #3D3D3D;
}

.sale img {
    width: 310px;
}

.items__container {
    display: flex;
    max-width: 840px;
    flex-wrap: wrap;
    gap: 31px;
}

.filter__container {
    display: flex;
    max-width: 840px;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
}

.filter__container ul {
    display: flex;
    gap: 40px;
}

.filter__container ul li a {
    border-bottom: 2px solid transparent;
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
}

.filter__container ul li>a:hover {
    transition: color 0.4s;
    border-bottom: 2px solid #46a358;
    font-weight: 700;
    font-size: 15px;
    line-height: 107%;
    color: #46A358;
}

.filter__container label {
    font-weight: 400;
    font-size: 15px;
    line-height: 1rem;
    color: #3D3D3D;
}

.filter__container label select {
    font-weight: 400;
    font-size: 15px;
    line-height: 1rem;
    background-color: transparent;
    border: none;
}

.filter__container label select option {
    font-weight: 400;
    font-size: 15px;
    line-height: 1rem;
    text-align: center;
    color: #3D3D3D;
}

.information {
    margin-bottom: 138px;
}

.cards__container {
    display: flex;
    max-width: 840px;
    gap: 33px 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards__container img {
    width: 258px;
    height: 300px;
    background-color: #fbfbfb;
    margin-bottom: 12px;
}

.cards__container p:first-of-type {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    color: #3D3D3D;
    margin-bottom: 6px;
}

.cards__container p:last-of-type {
    font-weight: 700;
    font-size: 18px;
    line-height: 1rem;
    color: #46A358;
    display: flex;
    gap: 16px;
}

.cards__container article {
    border-top: 1px solid transparent;
    position: relative;
}

.cards__container p+span {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    padding: 7px 9px;
    background-color: #46A358;
    color: #fff;
    position: absolute;
    top: 14px;
}

.cards__container p>span {
    font-weight: 400;
    font-size: 18px;
    line-height: 89%;
    text-decoration: line-through;
    color: #a5a5a5;
}

.cards__container .action {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.action .icons {
    opacity: 0;
    width: 20px;
    height: 20px;
    margin-bottom: 0;
    padding: 7px 6px;
    position: relative;
    top: -95px;
    border-radius: 5px;
    background-color: #fff;
    transition: all 0.5s ease;
}

.cards__container article:hover .action .icons {
    opacity: 1;
}

.icons.cart-icon {
    stroke: #E5E5E5;
}


.icons.like-icon {
    stroke: #3D3D3D;
}


.icons.search-icon {
    stroke: #E5E5E5;
}

.icons.cart-icon:hover {
    transition: 0.5s;
    stroke: #46A358;
    cursor: pointer;
}

.icons.like-icon:hover {
    stroke: #FF0000;
    cursor: pointer;
}

.icons.search-icon:hover {
    stroke: #46A358;
    cursor: pointer;
}

.cards__container article:hover {
    border-top: 1px solid #46A358;
}

.info-cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.info-cards article {
    display: flex;
    justify-content: space-between;
    background-color: #FBFBFB;
    max-width: 586px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-right: 30px;
    gap: 20px;
}

.info-cards article>img {
    width: 287px;
    height: 287px;
    position: relative;
    top: -36px;
}

.info h3 {
    max-width: 150px;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    text-align: right;
    text-transform: uppercase;
    color: #3D3D3D;
}

.info p {
    max-width: 292px;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: right;
    color: #727272;
}

.info a {
    background: #46a358;
    border-radius: 6px;
    padding: 12px 27px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    gap: 5px;
    color: #fff;
}

.info a:hover {
    border-radius: 6px;
    background-color: black;
    color: white;
}

.info a img {
    order: 1;
}

.blogs {
    margin-bottom: 100px;
}

.blogs .container {
    display: inherit;
}

.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 35px;
}

.blog h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 16px;
    color: #3D3D3D;
}

.blog p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #727272;
}

.blog-cards article {
    background-color: #FBFBFB;
}

.blog-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.blog-card {
    padding-left: 10px;
}

.blog-img {
    margin-bottom: 8px;
}

.blog-card p:first-of-type {
    margin-bottom: 4px;
    max-width: 222px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #46A358;
}

.blog-cards h5 {
    margin-bottom: 4px;
    max-width: 189px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #3D3D3D;
}

.blog-cards p:last-of-type {
    margin-bottom: 9px;
    max-width: 242px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #727272
}

.blog-cards a {
    display: flex;
    gap: 3px;
    margin-bottom: 13px;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #3D3D3D;
}

article .blog-card img {
    order: 1;
}

.blog-card a:focus {
    transition: color 0.4s;
    color: #46A358;
}

.pagination__container {
    padding-top: 57px;
    display: flex;
    justify-content: end;

}


.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.pagination a {
    padding: 10px 14px;
    border-radius: 4px;
    background: transparent;
    border: 1px solid #e5e5e5;
    color: #3d3d3d;
}

.pagination li svg{
    border: 1px solid #E5E5E5;
    display: inherit;
    padding: 9px 14px;
    border-radius: 4px;
}

.pagination li svg path {
    transition: stroke 0.3s ease;
}

.pagination li:last-of-type:hover {
    border-radius: 4px;
    background: #46a358;
    cursor: pointer;
}

.pagination li svg:hover path {
    stroke: #FFF;
    cursor: pointer;
}


.pagination a:hover {
    transition: color 0.4s;
    border-bottom: 2px solid #46a358;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #fff;
    background: #46a358;
}