@font-face {
  font-family: "cera_problack";
  src: url("cera_pro_black-webfont.eot");
  src: url("cera_pro_black-webfont.eot?#iefix") format("embedded-opentype"),
    url("cera_pro_black-webfont.woff2") format("woff2"),
    url("cera_pro_black-webfont.woff") format("woff"),
    url("cera_pro_black-webfont.svg#cera_problack") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fontspring_demo_-_cera_proBd";
  src: url("fontspring-demo-cerapro-bold-webfont.eot");
  src: url("fontspring-demo-cerapro-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fontspring-demo-cerapro-bold-webfont.woff2") format("woff2"),
    url("fontspring-demo-cerapro-bold-webfont.woff") format("woff"),
    url("fontspring-demo-cerapro-bold-webfont.svg#fontspring_demo_-_cera_proBd")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cera_prolight";
  src: url("fontspring-demo-cerapro-light-webfont.eot");
  src: url("fontspring-demo-cerapro-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fontspring-demo-cerapro-light-webfont.woff2") format("woff2"),
    url("fontspring-demo-cerapro-light-webfont.woff") format("woff"),
    url("fontspring-demo-cerapro-light-webfont.svg#cera_prolight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cera_promedium";
  src: url("fontspring-demo-cerapro-medium-webfont.eot");
  src: url("fontspring-demo-cerapro-medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fontspring-demo-cerapro-medium-webfont.woff2") format("woff2"),
    url("fontspring-demo-cerapro-medium-webfont.woff") format("woff"),
    url("fontspring-demo-cerapro-medium-webfont.svg#cera_promedium")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fontspring_demo_-_cera_proRg";
  src: url("fontspring-demo-cerapro-regular-webfont.eot");
  src: url("fontspring-demo-cerapro-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fontspring-demo-cerapro-regular-webfont.woff2") format("woff2"),
    url("fontspring-demo-cerapro-regular-webfont.woff") format("woff"),
    url("fontspring-demo-cerapro-regular-webfont.svg#fontspring_demo_-_cera_proRg")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: "Cera Round Pro DEMO", sans-serif;
}

@import url("registration.css");

.preloader {
  display: block;
  position: absolute;
  width: 102px;
  height: 102px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #46a358;
  fill: none;
}

.preloader svg use {
  animation: 3s alternate;
}

.preloader .big-circle {
  stroke-dasharray: 240;
  stroke-dashoffset: 240;
  transform-origin: 50%;
  animation-name: draw-big;
  animation-duration: 1s;
  animation-delay: 0.5s;
}

@keyframes draw-big {
  0% {
    stroke-dashoffset: 0;
    transform: rotateY(180deg) rotate(360deg);
  }

  100% {
    stroke-dashoffset: 240;
    transform: rotateY(180deg) rotate(0deg);
  }
}

.preloader .small-circle {
  stroke-dasharray: 210;
  stroke-dashoffset: 210;
  transform-origin: 50%;
  animation-name: draw-small;
  animation-duration: 1s;
}

@keyframes draw-small {
  0% {
    stroke-dashoffset: 0;
    transform: rotate(0deg);
  }

  100% {
    stroke-dashoffset: 210;
    transform: rotate(360deg);
  }
}

.logo {
  margin: 0 9px 0 0;
  display: inline-block;
  animation: logos 5s ease-in-out 5s infinite;
  z-index: 1;
  position: relative;
}

@keyframes logos {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@import url("header.css");

@mixin between-screen($min, $max) {
  @media screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  @include between-screen(414px, 430px) {
    padding: 12px;
  }
}

.faq {
  display: none;
}

.ui-accordion .ui-accordion-header {
  padding: 20px 76px 20px 44px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.25;
  margin-bottom: 16px;
  border: 1px solid #242424;
  border-radius: 8px;
  background-color: transparent;
}

.ui-accordion .ui-accordion-content {
  border: 1px solid #242424;
  border-radius: 0 0 8px 8px;
  border-top: none;
  margin-bottom: 16px;
}

.ui-accordion .ui-accordion-header.ui-state-active {
  border-radius: 8px 8px 0 0;
  border-bottom: 0;
  margin-bottom: 0;
  color: black;
}

.ui-icon {
  background-image: url("https://www.limitlessx.com/cdn/shop/t/68/assets/chevron-down.svg") !important;
  background-position: 0;
  text-indent: 0;
  position: absolute;
  right: 22px;
  width: 32px;
  height: 32px;
  transition: 0.5s;
  transform: rotate(-90deg);
}

.ui-accordion .ui-accordion-header.ui-state-active .ui-icon {
  transform: rotate(0deg);
  transition: 0.5s;
}

@import url("banner.css");

@import url("products.css");

@import url("info.css");

@import url("blogs.css");

@import url("garden-tips.css");

@import url("footer.css");
