@font-face {
    font-family: 'fontspring_demo_-_cera_proRg';
    src: url('../fonts/fontspring-demo-cerapro-regular-webfont.eot');
    src: url('../fonts/fontspring-demo-cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontspring-demo-cerapro-regular-webfont.woff2') format('woff2'),
         url('../fonts/fontspring-demo-cerapro-regular-webfont.woff') format('woff'),
         url('../fonts/fontspring-demo-cerapro-regular-webfont.ttf') format('truetype'),
         url('../fonts/fontspring-demo-cerapro-regular-webfont.svg#fontspring_demo_-_cera_proRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    padding: 0;
    background: #FFF;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    box-sizing: border-box;
}

.container__form {
    max-width: 500px;
    margin: auto;
}

.criss__cross-link {
    display: inline-block;
    margin: 13px 0 21px 487px;
}

.form__box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title__box {
    margin: 0 0 40px;
    text-align: center;
}

.title__box-login {
    display: inline;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
}

.line {
    display: inline;
    margin: 0 10px 0 12px;
    height: 16px;
}

.title__box-register {
    display: inline;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    color: #46A358;
}

.form__title {
    margin: 0 0 14px -70px;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #3D3D3D;
}

.input {
    display: block;
    width: 300px;
    height: auto;
    margin: 0 0 16px;
    padding: 12px 0 12px 14px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #EAEAEA;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.button {
    width: 315px;
    margin: 0 0 36px;
    border: none;
    padding: 16px 0 13px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #FFF;
    background-color: #46A358;
    cursor: pointer;
}

.register__with-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line-with-text {
    width: 315px;
    text-align: center;
    margin: 0 0 27px;
    font-weight: 400;
    font-size: 13px;
    border-bottom: 1px solid #ccc;
    line-height: 0px;
}

.line-with-text p {
    display: inline;
    background: #fff;
    padding: 0 10px;
}

.logo {
    margin: 0 9px 0 0;
}

.link {
    width: 315px;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #727272;
    margin-bottom: 10px;
}

.link:last-of-type {
    margin-bottom: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    margin-bottom: 12px;
    padding-top: 30px;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 50px
}

header nav ul a {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    color: #3d3d3d;
    text-decoration: none;
}

header .login {
    background: #46a358;
    border-radius: 6px;
    padding: 7px 17px;
    display: flex;
    align-items: center;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    transition: 0.4;

}


header .login svg {
    margin-right: 4px;
}


header .login svg path {
    transition: 0.4;
}

header .login:hover {
    background-color: white;
    color: #46a358;
}

header .login:hover svg {
    stroke: #46a358;
}

.section .banner {
    margin-bottom: 46px;
}

.banner .container {
    padding-left: 40px;
    background-color: #F5F5F580;
}

.banner h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 7px;
    padding-top: 68px;
}

h1 {
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
    margin-bottom: 5px;
    max-width: 700px;
}

h1 span {
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
    color: #46A358;
}

.description {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 44px;
    max-width: 530px;
}

.shop-now {
    display: inline-block;
    background: #46A358;
    text-decoration: none;
    padding: 11px 27px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFF;
    border-radius: 6px;
    margin-bottom: 85px;
}