@import url("registration.css");
@import url("header.css");
@import url("banner.css");
@import url("products.css");
@import url("info.css");
@import url("blogs.css");
@import url("garden-tips.css");
@import url("footer.css");
@font-face {
  font-family: "cera_problack";
  src: url("cera_pro_black-webfont.eot");
  src: url("cera_pro_black-webfont.eot?#iefix") format("embedded-opentype"), url("cera_pro_black-webfont.woff2") format("woff2"), url("cera_pro_black-webfont.woff") format("woff"), url("cera_pro_black-webfont.svg#cera_problack") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "fontspring_demo_-_cera_proBd";
  src: url("fontspring-demo-cerapro-bold-webfont.eot");
  src: url("fontspring-demo-cerapro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fontspring-demo-cerapro-bold-webfont.woff2") format("woff2"), url("fontspring-demo-cerapro-bold-webfont.woff") format("woff"), url("fontspring-demo-cerapro-bold-webfont.svg#fontspring_demo_-_cera_proBd") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cera_prolight";
  src: url("fontspring-demo-cerapro-light-webfont.eot");
  src: url("fontspring-demo-cerapro-light-webfont.eot?#iefix") format("embedded-opentype"), url("fontspring-demo-cerapro-light-webfont.woff2") format("woff2"), url("fontspring-demo-cerapro-light-webfont.woff") format("woff"), url("fontspring-demo-cerapro-light-webfont.svg#cera_prolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cera_promedium";
  src: url("fontspring-demo-cerapro-medium-webfont.eot");
  src: url("fontspring-demo-cerapro-medium-webfont.eot?#iefix") format("embedded-opentype"), url("fontspring-demo-cerapro-medium-webfont.woff2") format("woff2"), url("fontspring-demo-cerapro-medium-webfont.woff") format("woff"), url("fontspring-demo-cerapro-medium-webfont.svg#cera_promedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "fontspring_demo_-_cera_proRg";
  src: url("fontspring-demo-cerapro-regular-webfont.eot");
  src: url("fontspring-demo-cerapro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fontspring-demo-cerapro-regular-webfont.woff2") format("woff2"), url("fontspring-demo-cerapro-regular-webfont.woff") format("woff"), url("fontspring-demo-cerapro-regular-webfont.svg#fontspring_demo_-_cera_proRg") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: "Cera Round Pro DEMO", sans-serif;
  box-sizing: border-box;
}

.preloader {
  display: block;
  position: absolute;
  width: 102px;
  height: 102px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #46a358;
  fill: none;
}

.preloader svg use {
  animation: 3s alternate;
}

.preloader .big-circle {
  stroke-dasharray: 240;
  stroke-dashoffset: 240;
  transform-origin: 50%;
  animation-name: draw-big;
  animation-duration: 1s;
  animation-delay: 0.5s;
}

@keyframes draw-big {
  0% {
    stroke-dashoffset: 0;
    transform: rotateY(180deg) rotate(360deg);
  }
  100% {
    stroke-dashoffset: 240;
    transform: rotateY(180deg) rotate(0deg);
  }
}
.preloader .small-circle {
  stroke-dasharray: 210;
  stroke-dashoffset: 210;
  transform-origin: 50%;
  animation-name: draw-small;
  animation-duration: 1s;
}

@keyframes draw-small {
  0% {
    stroke-dashoffset: 0;
    transform: rotate(0deg);
  }
  100% {
    stroke-dashoffset: 210;
    transform: rotate(360deg);
  }
}
.logo {
  margin: 0 9px 0 0;
  display: inline-block;
  animation: logos 5s ease-in-out 5s infinite;
}

@keyframes logos {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
@media screen and (min-width: 414px) and (max-width: 430px) {
  .container {
    padding: 12px;
  }
}/*# sourceMappingURL=styles.css.map */